*
    margin: 0
    padding: 0

a
    text-decoration: none

body
    font-family: 'Lato', sans-serif

.header
    display: flex
    height: 120px
    margin-bottom: 20px
    align-content: center
    flex-direction: column
    align-items: center
    justify-content: space-around

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.item
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: space-around

.cart-button
    background-color: #FFD7D7
    color: #915858
    border: none
    width: 100px
    height: 60px
    border-radius: 50px 50px 50px 50px
    display: flex
    justify-content: space-around
    align-items: center

    &:hover path
        fill: #321e25

.goods-search
    border-radius: 30px
    border-color: #915858
    background-color: #FFD7D7
    height: 30px

.search-button
    border-radius: 30px
    width: 60px
    border-color: #915858
    background-color: #FFD7D7

.goods-item
    display: flex
    flex-direction: column
    background-color: #915858
    color: #FFD7D7
    align-items: center
    width: 185px
    height: 100%
    justify-content: space-around
    border-radius: 100px
    margin-bottom: 50px

.cart
    position: fixed
    width: 80%
    height: 100%
    display: flex
    background-color: #FFD7D7
    justify-content: center
    align-items: flex-start
    align-content: space-around
    color: #915858

    &_text
        display: flex
        justify-content: space-between
        align-items: center
        width: 97%
        padding-top: 10px
        align-content: center

    &_text:hover path
        fill: #321e25
